<p>Greetings from the Nomster Dining Site!</p>
<p>
   <b>A comment has been added on Nomster for a post that you created</b>
   <br />
   Check it out!--> <%= link_to 'here', place_url(@place) %>
   <br />
   Thank you very much for adding your great restaurants to Nomster!
</p>

Best regards--and happy dining!,<br />
Nomter-Bot Notifications