<p>Greetings from the Nomster Dining Site!</p>
<p>
	Hi this is the Nomster-bot, notifying you that
   <b>A comment has been added on the Nomster-rochebox for a post that you created</b>
   <br />
   Thank you very much for adding your great restaurants to Nomster!
</p>

Best regards--and happy dining!,<br />
Nomter-Bot Notifications