@font-face {
    font-family: 'gooddogregular';
    src: url('/assets/gooddog-webfont.woff2') format('woff2'),
         url('/assets/gooddog-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_speakeasyoblique';
    src: url('/assets/sf_speakeasy_oblique-webfont.woff2') format('woff2'),
         url('/assets/sf_speakeasy_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sf_speakeasyregular';
    src: url('/assets/sf_speakeasy-webfont.woff2') format('woff2'),
         url('/assets/sf_speakeasy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bilbo-regular';
    src: url('/assets/bilbo-regular-webfont.woff2') format('woff2'),
         url('/assets/bilbo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    @font-face {
    font-family: 'panefresco_1wtitalic';
    src: url('panefresco1wtitalic-webfont.woff2') format('woff2'),
         url('panefresco1wtitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'panefresco_1wtregular';
    src: url('panefresco1wtregular-webfont.woff2') format('woff2'),
         url('panefresco1wtregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'panefresco_250wtitalic';
    src: url('panefresco250wtitalic-webfont.woff2') format('woff2'),
         url('panefresco250wtitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'panefresco_250wtregular';
    src: url('panefresco250wtregular-webfont.woff2') format('woff2'),
         url('panefresco250wtregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'panefresco_400wtitalic';
    src: url('panefresco400wtitalic-webfont.woff2') format('woff2'),
         url('panefresco400wtitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'panefresco_400wtregular';
    src: url('panefresco400wtregular-webfont.woff2') format('woff2'),
         url('panefresco400wtregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'new_ciclefina_italic';
    src: url('new_cicle_fina_italic-webfont.woff2') format('woff2'),
         url('new_cicle_fina_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'new_ciclefina';
    src: url('new_cicle_fina-webfont.woff2') format('woff2'),
         url('new_cicle_fina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'new_ciclegordita_italic';
    src: url('new_cicle_gordita_italic-webfont.woff2') format('woff2'),
         url('new_cicle_gordita_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'new_ciclegordita';
    src: url('new_cicle_gordita-webfont.woff2') format('woff2'),
         url('new_cicle_gordita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/* Generated by Font Squirrel (https://www.fontsquirrel.com) on July 10, 2016 */



@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('caviar_dreams_bold-webfont.woff2') format('woff2'),
         url('caviar_dreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('caviardreams_bolditalic-webfont.woff2') format('woff2'),
         url('caviardreams_bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('caviardreams_italic-webfont.woff2') format('woff2'),
         url('caviardreams_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('caviardreams-webfont.woff2') format('woff2'),
         url('caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}