@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);

/* my styles */
/* dark purple like background for nav --> 08045a */
/* Navy 00293c */
/* table cloth blue is --> 558de2  (dark) */
/* cobalt --> 3a5199 */
/* or --> 8db0f2 (light) */
/* carrot color #EE693f */
/* tangerine #F69454 */
/* pumpkin d55448 */
/* berry a10115 */
/* cherry d72c16 */
/* fire engine red c5001a */
/* yellows */
/* ffcc00 */



body {
  background-image:  url('/assets/fork_knife2.png'), url('/assets/blue_white_tablecloth.jpg');
  background-position: left_bottom, left top;
  background-repeat: no-repeat, repeat;
  /* background: url('/assets/blue_white_tablecloth.jpg'); */
  /* a font stack from Chris Coiyers CSS Tricks article */
 

 /* Modern Georgia-based serif stack */
/* font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; */

/* Traditional Garamond-based serif stack */
font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif; 

/* Helvetica/Arial-based sans serif stack */
/*font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; */

/* Verdana-based sans serif stack */
/*font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif; */

/* Trebuchet font family stack */
/* font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif; */

}


h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.booyah-box {

   -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5); 
 	 -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5); 
     box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5); 

  /* background: #fff; */
  /* background: #4a8dac; */
  /* background: #00e6e6; */
  /* background: #097054;*/
  /* background: #669900; */
  /* berry */
  /* background: #a10115;*/
  /* salmony red */
  /* background: #f75e5e; */
  /* green */
  /* background: #7bc14c; */
  /* maize yellow */
  background: #ffcc00;
  background-image:url('/assets/gold_background3.jpg');
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius: 15px;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;

}

.field_with_errors {
  color: #ff3333; 
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  }

.has-error{
  /* background-color: #00ff00; */
  background-color: #ffde00;
  border-radius: 5px;
  border: 2px dashed #ff0000;
}

.has-error label{
  font-size: 15pt;
  /* this color isnt working... */
  color: #ff0000;
}

.help-block {
  font-family: 'gooddogregular', sans-serif; 
  font-size: 20pt;
  padding-left: 2%;
}



/* bootstrap override */
.navbar.navbar-inverse {
    /* background:url('/assets/orange_background.jpg'); */
    background-image:url('/assets/orange_background5.jpg');
    /* trying denim color */
    background: #08045a;
    /* background-repeat:no-repeat; */
    /* background-size:cover; */
    border-radius: 0;
    /* box-shadow: 10px 10px grey; */
    /* box-shadow: 0px 1px 3px #2a2a2a; */

     -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5); 
 	 -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5); 
     box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5); 

    /* box-shadow: 8px 8px 4px #888888; */
}

.navbar-inverse .navbar-brand {
	padding-top: 15px;  
	/* font-family: 'gooddogregular', sans-serif; */
	 /* font-family: 'sf_speakeasyregular', sans-serif;*/ 
	 font-family: 'sf_speakeasyoblique', sans-serif; 
	font-size: 50px;
	/* background-color: #0033CC; */
  /* table cloth blue is --> 558de2  (dark) */
  /* or --> 8db0f2 (light) */

  	color: #8db0f2;
  	/* height: 70px; */
}

.navbar-inverse .navbar-brand:hover{
  /* lighter bluew related to 8db0f2 */

  color: #cddefd;
}



.restaurant-listing-styles {
	/* color: #fc4a1a; */
	/* color: #990033; */
  /* color: #8db0f2; */
  /* color: #9fbffd; */
  /* color: #7ba7fb;  usable like the light blue */
  color: #399cf9;
	font-family: 'sf_speakeasyoblique', sans-serif; 
  text-shadow: 1px 1px #08045a;
  font-size: 2.5em;
  /* ... from brand-font light-blue-color text-shadow-red */

}

.restaurant-link-styles{
  /* color: #399cf9;  blue like the border */
  /* color: #58a8fb; */
  color: 8db0f2;
  font-family: 'sf_speakeasyoblique', sans-serif; 
  text-shadow: 2px 2px #08045a;
  font-size: 1.3em;
}

.restaurant-link-styles:link {
    text-decoration: none;

}

.restaurant-link-styles:visited {
    text-decoration: none;
    /* color: #c5001a; tried red but its too much */
    color: #8db0f2;

}

.restaurant-link-styles:hover {
    text-decoration: none;
    color: #6897f0;
}

.restaurant-link-styles:active {
    text-decoration: none;
    color: #399cf9;
}



/* will_paginate bootstrap override... */




.brand-font{
  font-family: 'sf_speakeasyoblique', sans-serif; 
}

.red-color{
  /* color: #990033; moving to orange
  /* carrot color #EE693f */
  /* tangerine #F69454 */
  /* pumpkin d55448 */
  color: #d55448;
}

.light-blue-color{
  /* color: #0099FF; moving to table cloth blue */
  color: #8db0f2;
}

.dark-blue-color{
  color: #08045a;
}
.light-blue-background{
  background: #8db0f2;
}

.dark-blue-background{
  background: #558de2;
}

.text-shadow-red{
  /* text-shadow: 3px 3px #990033; moving to orange-pumpkin */
  /* text-shadow: 3px 3px #d55448; */
  /* trying blue cobalt */
  /* text-shadow: 3px 3px #3a5199; */
   text-shadow: 3px 3px #08045a; 
}

.text-shadow-blue{
  /* dark blue */
   text-shadow: 3px 3px #08045a; 
}

.heading-size{
  font-size:38pt;
}

#map {
  height: 300px;
}

.clear {
    clear: both;
}

.more-round{
  /* border-radius: 15px; */
  border-radius: 15px 50px 30px 5px;
}

.light-blue-color-bg {
  background-color: #399cf9;
}

.no-bottom-margin{
  margin-bottom: 0;
}


blockquote {
  position: relative;
  background: #f9f9f9;
  /* border-left: 10px solid #ccc; */
  border-left: 10px solid #399cf9;
  margin: 1.5em 10px;
  padding: 0.5em 10px 0.5em 20px;
  quotes: "\201C""\201D""\2018""\2019";
  /* text-indent: 15px; */
}
  blockquote:before {
  position: absolute;
  top: 43px;
  left: 0px;
  margin-top: -30px; 
  font-family: 'Times New Roman';
  /* color: #ccc;  */
  color: #ff9900; 
  content: "\201C";
  /* content: open-quote; */
  font-size: 4.0em; 
  line-height: 0.1em; 
  margin-right: 0.25em;
  vertical-align: -0.4em; 

} 
blockquote p {
  display: inline;
}
.sm-rotate{
  
}

.sm-rotate:hover {
    cursor: default;
    transform: rotate(-10deg);
    transition: all 0.3s ease-in-out 0s;
}

.sm-grow{
  
}
.sm-grow:hover{
  transform: scale3d(1.25, 1.25, 1);
}

.center-it{
  text-align: center;
}

.photo-size{
  width: 150px;
}

.photo-box{
  height: 200px;
  margin: 0;
  padding: 0;
}

.photo-box2{
  height: 175px;
  margin: 0;
  padding: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img { 
   /* max-height: 550px; */
   max-height: 400px; 
    width: 100%;

}

.carousel-caption {
    font-size: 60px;
    font-weight:100;
    text-shadow: rgba(0,0,0,0.95) 2px 2px;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    position:absolute;
    left:0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.nav-sign-in-fonts{
   font-size: 1em;
   font-style: italic; 
}

.form-styles {
   font-size: 1.1em;
   font-style: normal;
   font-style: italic;  
   /* fire engine red c5001a */
   color: #c5001a;
}

.index-place{ 
   font-size: 1.1em;
   font-style: bold;
   font-style: italic;  
   /* fire engine red c5001a */
   color: #c5001a;
}
.index-description{
  color: #08045a;
}

.nomster-button-styles{
  font-style: italic;
  background: #2d68c1;
  /* background: #558de2; */
 /* background: #08045a;  this seems dark */
  color: #ccc;
}

.nomster-button-styles:hover{
   /* background: #08045a; */
   background: #2d68c1;
   color: white;
}

.devise-render a{
 font-style: italic; 
 color: ccc;
 
}

.devise-render a:link {
    text-decoration: none;
    font-style: italic; 
    color: ccc;
}

.devise-render a:visited {
    text-decoration: none;
}

.devise-render a:hover {
    text-decoration: none;
    color: #08045a;
}

.devise-render a:active {
    text-decoration: none;
    color: #08045a;
}

.user-page-heading-size{
  font-size: 2.25em;
}

.nomster-text-font{
    /* font-family: 'Poiret One', cursive; */
    /* font-style: bold; */
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'panefresco_1wtitalic'; */
    /* font-family: 'bilbo-regular'; */
    /* font-family: 'new_ciclefina_italic'; */
    /* font-family: 'new_ciclegordita_italic', 'Arial', sans-serif; */
    font-family: 'caviar_dreamsbold_italic';
   
}

.nomster-text-font-not-bold{
  font-family: 'caviar_dreamsitalic';
}

.nomster-red-color{
  color: #a10115;
}

.nomster-gold-star{
  color: yellow;
}

.index-user-heading-styles{
  font-size: 2.75em
}



