<!--This is the view from the "show" controller action from Lesson 21 -->

<div class="booyah-box col-xs-8 col-xs-offset-2">
	<h1 class="brand-font light-blue-color text-shadow-red heading-size"><%= @place.name %></h1>
	<i><%= @place.address %></i>
	<br/><br/>
	<p><%= @place.description %></p>
	<div class="pull-right">
   		 <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
    </div>
</div>