<!DOCTYPE html>
<html>
	<head>
	  <title>Nomster-Rochebox-Great-Restaurants</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">

				<!-- they note: brand and toggle grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--Penguins-->
					<a class="navbar-brand" href="http://penguins.nhl.com/index.html">Rochebox Dining Guide </a>
				</div>
				<!-- Note is Collect Nav Links, fore and stuff for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<!--Sharks-->
						<li class="active"><a href="http://sharks.nhl.com/">Link</a></li>
						<!--Capitals Made this active...-->
						<li class="active"><a href="http://capitals.nhl.com/">Link</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another Action..</a></li>
								<li><a href="#">Something Else Here..</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
								<li class="divider"></li>
								<li><a href="#">One More Separated link</a></li>
							</ul> <!-- dropdown menu... -->
						</li> <!-- class dropdown -->
					</ul> <!-- nav navbar-nav -->

					<!-- a ul..a form and another ul... -->
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit It!</button>
					</form>
					<!-- I think the last ul... -->
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Link</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another Action</a></li>
								<li><a href="#">Something Else Here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated Link</a></li>
							</ul> <!--dropdown menu... -->
						</li> <!-- dropdown...-->
					</ul> <!--nav navbar-nav navbar-right-->
				</div> <!-- collapse navbar collapse...-->
			</div>	<!-- "container fluid... div" ends-->
		</nav>

		<%= yield %>

	</body>
</html>
